* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: "coolvetica-rg";
  src: url(/assets/coolvetica\ rg.otf);
}
:root {
  --titles-bg: rgba(0, 121, 105, 0.836);
  --titles-font: white;
  --bg-arrow: rgba(255, 255, 255, 0.281);
  --html-bg: white;
  --bg-table: rgba(128, 128, 128, 0.336);
}
body {
  font-family: "coolvetica-rg";
  background-image: url(/assets/img/background.jpg);
  overflow: hidden;
  height: 100dvh;
  width: 1000dvw;
}
blockquote {
  background-color: var(--titles-bg);
  margin: 0.5em 0;
}
main {
  width: 100vw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  transition: backdrop-filter 5s ease, background-color 5s ease;
}
h1 {
  background-color: var(--titles-bg);
  text-align: center;
  font-weight: 500;
  color: var(--titles-font);
  padding: 0.5em 1em;
  font-size: 2.5em;
  margin: 1em 0;
}
h2 {
  background-color: var(--titles-bg);
  color: var(--titles-font);
  font-weight: 500;
  padding: 0 0.5em;
  width: fit-content;
  font-size: 1.5em;
  margin: 0.5em 0;
}
h3 {
  font-weight: 600;
  font-size: 1.2em;
  margin: 0.5em 0;
}
li {
  margin: 0.5em 2em;
}
span {
  margin: 10px;
  background-color: rgba(255, 255, 0, 0.466);
}
table,
mark {
  margin: 1vw;
  background-color: var(--bg-table);
  outline: 3px solid black;
}
tr,
th,
td {
  outline: 1px solid black;
}
th {
  text-transform: uppercase;
}
th,
td {
  padding: 0.5em;
  text-align: center;
}
.unlp-logo {
  position: absolute;
  z-index: 100;
  animation: logo 1.5s ease-in-out 1s normal forwards;
  animation-play-state: running;
  transition: 0.25s ease;
}
@keyframes logo {
  0% {
  }
  60% {
    transform: scale(0);
  }
  100% {
    transform: scale(0.4);
    top: 0;
    left: 0;
  }
}
.unlp-logo:hover {
  scale: 1.4;
  opacity: 1.7;
}
.booklet {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
  max-height: 100dvh;
  min-width: 60%;
  max-width: 100vw;
}
img::selection {
  background-color: transparent; /* Eliminar color de fondo */
  color: inherit; /* Mantener el color original del texto */
}
#booklet-rotate {
  display: none;
}
.hooks {
  position: absolute;
}
.hooks img {
  position: relative;
  height: 64.8vh;
  width: 110%;
  margin-top: 1.7vh;
  z-index: 5;
  transform: translateX(-5%);
}
.right,
.left {
  position: relative;
  display: flex;
  height: 80dvh;
}
.right > img,
.left > img {
  border-radius: calc(1.2vw + 1.2vh);
  filter: drop-shadow(0px 0px 38px black);
  height: 100%;
  min-width: auto;
  max-width: 100vw;
}
.left {
  display: flex;
  justify-content: end;
}
.html-style {
  position: absolute;
  width: 90%;
  height: 90%;
  margin: 5% 2%;
  background-color: var(--html-bg);
  padding: 5% 7%;
  overflow: scroll;
  z-index: 2;
}
.html-style::-webkit-scrollbar {
  display: none;
}
.left > .html-style {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.semestre {
  position: relative;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  background-color: rgb(143, 143, 141);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: center;
  text-wrap: nowrap;
  border-radius: 5px;
  transform: rotateZ(-1deg);
}
.semestre p,
.semestre div {
  outline: solid black 1px;
}
.semestre button {
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.425);
  outline: none;
  border: none;
  /* cursor: pointer; */
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: ease 0.5s;
}
.semestre button:hover {
  background-color: white;
}
#html-der {
  transition: 0.5s ease;
  z-index: 4;
  transform-origin: left;
}

#html-der img {
  box-shadow: none;
  width: 100%;
  height: auto;
  border-radius: 0;
  margin: 0 auto;
}
#ultima-hoja {
  all: unset;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  padding: 1%;
  background-color: rgba(136, 136, 136, 0.315);
  z-index: 1000;
  transition: 0.5s ease;
  transform-origin: center;
}
#ultima-hoja:hover {
  scale: 1.5;
}
.rotate-sheet {
  animation: girarHoja 0.35s ease 0s infinite none normal;
  animation-play-state: running;
}
.rotate-sheet-back {
  animation: girarHoja 0.35s ease 0s infinite reverse;
  animation-play-state: running;
}
@keyframes girarHoja {
  to {
    z-index: 6;
    opacity: 0;
    transform: rotateY(180deg) translateX(10%);
    filter: brightness(5000) contrast(0.1);
  }
}
.arrows-container {
  position: absolute;
  top: 70dvh;
  height: 10vh;
}
.arrows {
  display: flex;
  width: 100vw;
  padding: 0 10vw;
  justify-content: space-between;
}
.arrows img {
  width: calc(2vw + 2vh);
  height: calc(4vw + 4vh);
  /* cursor: pointer; */
  border-radius: 25px;
  z-index: 7;
  transition: 0.25s ease-out;
  background-color: var(--bg-arrow);
}
#right-arrow {
  transform: rotateZ(180deg);
}
#right-arrow:hover {
  transform: rotateZ(170deg);
}
#left-arrow:hover {
  transform: rotateZ(10deg);
}
.marks-conteiner {
  position: absolute;
  display: flex;
  width: 90%;
  height: 15%;
  left: 0.5%;
  z-index: 1;
  display: flex;
}
.mark {
  position: relative;
  margin-left: 3%;
  border-radius: 0 30% 0 0;
  height: clamp(1em, 5vh, 5em);
  background: rgb(178, 187, 98);
  background: linear-gradient(
    180deg,
    rgba(178, 187, 98, 1) 0%,
    rgba(140, 143, 113, 1) 100%
  );
  padding: 0 1em;
  display: flex;
  justify-content: center;
  font-size: clamp(0.5em, 1em, 5em);
  overflow: hidden;
  transition: 0.2s ease-in;
  /* cursor: pointer; */
}
.second-mark {
  background: rgb(187, 98, 98);
  background: linear-gradient(
    180deg,
    rgba(187, 98, 98, 1) 0%,
    rgba(143, 113, 113, 1) 100%
  );
}
.third-mark {
  background: rgb(98, 106, 187);
  background: linear-gradient(
    180deg,
    rgba(98, 106, 187, 1) 0%,
    rgba(113, 118, 143, 1) 100%
  );
}
.number {
  font-size: 1em;
  text-align: center;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 100%;
  position: absolute;
  background-color: white;
  width: 2em;
  height: 2em;
  border-radius: 15px;
  transition: 2s ease;
  opacity: 0.5;
}
.horarios {
  width: 100%;
}
.horarios img {
  width: 100%;
}
.material {
  position: relative;
  width: 100%;
  height: 25%;
}
.material img {
  background-color: transparent;
  box-shadow: none;
  transform: rotateZ(-10deg);
  height: 100%;
  /* cursor: pointer; */
}
@media only screen and (min-width: 1024px) {
  * {
    cursor: none;
  }
  .custom-cursor {
    transition: filter 0.75s ease-out, border-radius 0.75s ease-out,
      scale 0.75s ease;
    width: 16px;
    height: 16px;
    position: absolute;
    pointer-events: none; /* Evita que interfiera con clics o eventos */
    background-size: cover;
    z-index: 10000; /* Asegura que esté siempre por encima */
    opacity: 0.5;
    background-color: rgb(0, 0, 0);
    filter: blur(5px);
    border-radius: 5px;
    scale: 0.8;
  }
  .pointer-animation {
    transition: filter 0.15s ease-in, border-radius 0.15s ease, scale 0.1s ease,
      opacity 1s ease;
    opacity: 1;
    filter: blur(0);
    scale: 1.3;
    border-radius: 50%;
  }
  .custom-cursor-dissapear {
    filter: blur(20px);
  }
  .pointer-hoja {
    transition: filter 0.7s ease-in, border-radius 0.7s ease, scale 0.7s ease;
    scale: 1;
    width: 5px;
    opacity: 0.3;
    filter: blur(0);
    animation: agrandar 1s ease-in 0.5s infinite;
  }
  @keyframes agrandar {
    50% {
      scale: 2;
    }
    100% {
      scale: 1;
    }
  }

  #html-der:hover {
    transition: all 0.2s cubic-bezier(1, -0.01, 0.89, 1.47);
    transition-delay: 0.8s;
    position: absolute;
    z-index: 1000;
    width: 205%;
    transform: translateX(-50%);
  }
}
@media screen and (orientation: portrait) {
  #booklet-rotate {
    all: initial;
    height: fit-content;
    width: fit-content;
    display: block;
    position: absolute;
    right: 3vw;
    z-index: 10;
    text-align: center;
    padding: 0;
    font-size: clamp(1em, 2em, 3em);
    background-color: transparent;
    /* cursor: pointer; */
    transition: 0.7s ease;
  }
  #booklet-rotate:hover {
    scale: 1.3;
  }
  #booklet-rotate:active {
    transition: 0.1s linear;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.64)) brightness(1.33);
  }
  main {
    align-items: start;
  }
  .booklet {
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
  }
  .hooks {
    display: none;
  }

  .visibilidad * {
    display: none;
  }
  .left,
  .right {
    width: 100vw;
    height: 100%;
  }
  .html-style {
    width: 100vw;
    height: 90%;
    margin: 10dvh 0 0 0;
  }
  .arrows-container {
    position: absolute;
    width: 100vw;
    top: 100dvh;
    left: 0;
    transform: translateY(-100%);
    z-index: 5;
    height: fit-content;
  }
  #right-arrow:hover {
    transform: rotateZ(170deg);
  }
  #left-arrow:hover {
    transform: rotateZ(10deg);
  }
  .marks-conteiner {
    transform: translateY(50%);
    z-index: 1;
  }
  .left > img,
  .right > img {
    margin: 0;
    border-radius: 0px;
    width: 120vw;
    object-fit: cover;
  }
}
